
/*About*/
.about-content-1{
    background-color: #b7b4bb;
    margin: 112px 80px 32px 80px;
    border-radius: 10px 10px 10px 10px;
  }
  .about-content-1 h4{
    font-size: 32px;
    font-family: sans-serif;
    margin: 0px 0 16px 16px;
    padding-top: 16px;
  }
  .about-content-1 p{
    font-size: 14px;
    margin: 0 0 0 16px;
    padding-bottom: 15px;
    font-family: sans-serif;
  }
  .about-content-2{
    background-color:#b7b4bb;
    margin: 16px 80px 32px 80px;
    border-radius: 10px 10px 10px 10px;
    display:flex
  }
  .about-mission{
    margin: 16px 12px 0 16px;
  }
  .about-mission h4{
    font-size: 32px;
    font-family: sans-serif;
    margin: 0px 0px 16px 0px;
  }
  .about-mission p{
    font-size: 14px;
    font-family: sans-serif;
    margin: 0px 0px 15px 0px;
  }
  .about-vision{
    margin: 16px 16px 0px 12px;
  }
  .about-vision h4{
    font-size: 32px;
    font-family: sans-serif;
    margin: 0px 0px 16px 0px;
  }
  .about-vision p{
    font-size: 14px;
    font-family: sans-serif;
    margin: 0px 0px 15px 0px;
  }
  
  /*styling team*/
  .about-content-3{
    position: relative;
      background: #400a0a;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .about-team-title{
    color: white;
    font-size: 32px;
    text-align: center;
  }
  .about-team-content{
    width: 100%;
      display: grid;
      grid-template-columns: auto auto auto;
      align-items: center;
      gap: 2rem;
      text-align: center;
      margin-top: 16px;
  }
  .about-team-content img{
    width: 100%;
      height: auto;
      border-radius: 15px;
      margin-bottom: 15px;
  }
  .about-team-box h3{
    font-size: 23px;
      font-weight: 600;
      color: #fff;
      margin-bottom: 8px;
  }
  .about-team-box h5{
    font-size: 15px;
      font-weight: 600;
      color: #b7b4bb;
      margin-bottom: 15px;
      letter-spacing: 2px;
  }
  .about-team-icons i{
    display: inline-block;
      color: #fff;
      font-size: 20px;
      margin: 0 8px;
      transition: all .38s ease;
  }
  .about-team-icons i:hover{
    transform: scale(1.2);
  }
  .about-team-box:hover{
    transform: translateY(-10px);
    cursor: pointer;
  }
  